* {
    -webkit-box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;
      -ms-box-sizing: border-box !important;
      box-sizing: border-box !important;
}

/*
 ******************************* 
 Configuração geral da página
 */
html,
body {
    size: 0,1em;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #388E3C;
    color: black;
  
}

.titulo {

text-align: center;    

}

.conteudo {
    width: 100%; /* usar largura total */
    max-width: 1000px; /* limitar largura total em 1000px */
    margin: 0 auto; /* centralizar conteudo com margem 0 vertical e automatica horizontal */
    padding: 10px;
}

/*
 ******************************* 
 Configuração da figura que fica no topo da página
 */
.figuratopo,
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCantoSete {
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: auto;
    text-align: justify;
}


/*
 ******************************* 
 Configuração dos textos que tem a div como classe texto
 */
.texto {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
   /* justify-content: center;*/
    text-align: left;
}


/*
 ******************************* 
 Configuração dos titulos
 */
h1 , h2, h3 {
    color: blue;
}

/*
 ******************************* 
 Configuração da lista ordenada da navegação
 */
 #navegacao {

    margin: 10px;
    padding: 0;
    list-style: none;
    width: 100vw;
    background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;
    float: left;
}

#navegacao  li {

    float: left;
}

#navegacao  a {
    display: block;
    padding: 0 2em;
    line-height: 2.5em;
    text-decoration: none;
    color: white;
    background: url(imagens/divisor.png) repeat-y;
}

/*
ul .primeiro a {
    background: none;
}*/

#navegacao  a:hover {
    
    background: #44cade;
    background: url(imagens/fundo-horizontal2.png) repeat-y;
}

#home #navegacao .home a,
#orixas #navegacao .orixas a {
    
    background: #44cade;
    background: url(imagens/fundo-horizontal2.png) repeat-y;
}

.tabela,
.funcaoorixas {    
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.funcaoorixas {
border: 5px #44cade solid;
}

td {
    padding: 10px;
    text-align: center;
}


@media( max-width: 768px ) {
    .conteudo {
        max-width: 100%;
    }
    
}